<% @flats.each do |flat| %>
  <%= link_to flat_path(flat) do %>
    <p><strong><%= flat.name %></p></strong>
    <p><%= flat.address %></p>
    <p><%= flat.description %></p>
    <p><%= flat.price_per_night %></p>
    <p><%= flat.number_of_guest %></p>
    <%= link_to "Delete", flat_path(flat), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
<% end %>


<div class="class-adding">
  <%= render 'form', flat: @flat %>
</div>
