  <p><strong><%= @flat.name %></p></strong>
  <p><%= @flat.address %></p>
  <p><%= @flat.description %></p>
  <p><%= @flat.price_per_night %></p>
  <p><%= @flat.number_of_guest %></p>

<%= link_to "index", flats_path %>

<%= render 'edit', flat: @flat %>
